.priceFilter__div__h3 {
    color: rgb(6, 6, 151);
    text-align: center;
    font-weight: 800;
}
.priceFilter__div__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.priceFilter__div__span {
    font-weight: 800;
    margin-bottom: 2em;
}

.priceFilter__div__input {
    border: none;
    background-color: rgba(100, 100, 179, 0.178);
}
.priceFilter__div__btn {
    font-weight: 800;
    margin: 1em auto 1em;
    width: 5em;
    height: 2.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #fa4006;
    color: white;
}